
.anticon-user > svg:first-child {
  width: 1.2em ;
  height: 1.2em ;
  border: 1px solid;
  border-radius: 50% ;
  padding: 1px;
}
.anticon-lock > svg:first-child {
  width: 1.2em ;
  height: 1.2em ;
  padding: 1px;
}

.anticon-mail > svg:first-child {
  width: 1.2em ;
  height: 1.2em ;
  padding: 1px;
}
